#------------------------------------------------------------------------------
# Project Name      - i3Config/source/rules
# Started On        - Fri 11 Mar 20:31:25 GMT 2022
# Last Change       - Tue  8 Aug 18:59:12 BST 2023
# Author E-Mail     - terminalforlife@yahoo.com
# Author GitHub     - https://github.com/terminalforlife
#------------------------------------------------------------------------------
# Important `for_window` rules to allow certain programs to display properly.
#
# This configuration uses float-first, as it's typically easier to catch and
# configure windows which need to be tiled, rather than those which should be
# floating, like dialogs. I discovered this approach many years ago, and have
# stuck with it since.
#------------------------------------------------------------------------------

for_window [window_role="popup"] floating enable
for_window [class=".*"] border pixel 2
for_window [class=".*"] floating enable

#-----------------------------------------------------------------------Discord

for_window [class="^discord$"] floating disable

#----------------------------------------------------Firefox Windows (>= 116.0)

for_window [class="firefox$"] floating disable
for_window [class="firefox$" window_role="^Popup$"] floating enable
for_window [class="firefox$" title=".* - Mozilla Firefox"] floating disable
for_window [class="firefox$" title="^About Mozilla Firefox$"] floating enable
for_window [class="firefox$" title="^Enter name of file to save to…$"] floating enable
for_window [class="firefox$" title="Facebook call - Mozilla Firefox"] floating enable
for_window [class="firefox$" title="NoScript Options"] floating enable
for_window [class="firefox$" title="^About me . Mozilla Firefox.*$"] floating disable
for_window [class="firefox$" title="^Adblock Plus.*"] floating enable
for_window [class="firefox$" title="^Allowed Web Sites . Pop.ups$"] floating enable
for_window [class="firefox$" title="^Cancel All Downloads\?$"] floating enable
for_window [class="firefox$" title="^Clear All History$"] floating enable
for_window [class="firefox$" title="^Clear all cookies and site data$"] floating enable
for_window [class="firefox$" title="^Close Firefox$"] floating enable
for_window [class="firefox$" title="^Create Profile Wizard$"] floating enable
for_window [class="firefox$" title="^Firefox . Choose User Profile$"] floating enable
for_window [class="firefox$" title="^Firefox Safe Mode$"] floating enable
for_window [class="firefox$" title="^Problem loading page . Mozilla Firefox$"] floating disable
for_window [class="firefox$" title="^Profiles Manager$"] floating enable
for_window [class="firefox$" title="^Rename Profile$"] floating enable
for_window [class="firefox$" title="^Restart Firefox$"] floating enable
for_window [class="firefox$" title="^Restart with Add-ons Disabled$"] floating enable

#-------------------------------------------------------------------Thunderbird

for_window [class="^Thunderbird$" title=" ? Mozilla Thunderbird$"] floating disable
for_window [class="^Thunderbird$" title="Sending Message - Re:.*$"] floating enable

#------------------------------------------------------------------GIMP WINDOWS

for_window [class="^Gimp$" title="^GNU Image Manipulation Program$"] floating disable
for_window [class="^Gimp$" title=" ? GIMP$"] floating disable
for_window [class="^Gimp$" title="Tool Options$"] floating enable
for_window [class="^Gimp$" title="^Quit GIMP$"] floating enable

#---------------------------------------------------------------------Alacritty

for_window [class="^Alacritty$"] floating disable

#---------------------------------------------------------------------TuxGuitar

for_window [class="^TuxGuitar$"] floating disable
for_window [class="^TuxGuitar$" window_role="^GtkFileChooserDialog$"] floating enable
for_window [class="^TuxGuitar$" title="^Open URL $"] floating enable
for_window [class="^TuxGuitar$" title="^Properties $"] floating enable
for_window [class="^TuxGuitar$" title="^About  $"] floating enable
for_window [class="^TuxGuitar$" title="^Configure TuxGuitar $"] floating enable
for_window [class="^TuxGuitar$" title="^Plugins $"] floating enable
